// paleta de colores

$logo-a: #fffdfc ;
$color-btn:#ce967b;
$color-hover:#ce977b;
$color-text-p:#c5c5c5;
$color-h1:#f9fafc;
$color-h2:#323337;
$color-h3:#323337;

// variable font size

$font16: 16px;

$font18: 18px;